body{
    background-color: brown;
    color:antiquewhite;
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(92, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(92, 0, 0);
}