body{
    background-color: brown;
    color:antiquewhite;
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(92, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(92, 0, 0);
}

section{
    background-color:rgb(214, 175, 125);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}